body{
	background-image: url(images/background.png);
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
	font-family: Futura;
}

.dropbtn {
  background-image: url(images/randomnebula.PNG);
  background-size: cover;
  background-color: #3377ff;
  color: white;
  margin-left: 40px;
  margin-top: 40px;
  padding: 16px;
  font-size: 26px;
  font-family: Futura;
	src: url(futuramediumcondensedbt.ttf);
  border: none;
  cursor: pointer;
  border-radius: 12px;
}

.dropbtn:hover, .dropbtn:focus {
  background-image: url(images/dimmernebula.PNG);
  transition: 0.2s ease-in;
  background-color: #0000b3;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:  #e6e6ff;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 40px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

@font-face {
	font-family: Futura;
	src: url(futuramediumcondensedbt.ttf);
}
@media only screen and (max-width: 600px) {
  body {
    background-color: #635477;
	background-image: none !important;
  }
}

